<div class="rating">
	<span id='star_1' class='empty_star' data-star-no= 1 data-book-id="<%=book.id%>" data-review-record="<%=book.book_review_record(current_member.id)%>" onclick="rating(this)" onmouseover= "rating_hover(this)" onmouseout="default_rating(this)"></span>
	<span id='star_2' class='empty_star' data-star-no= 2 onclick="rating(this)" onmouseover= "rating_hover(this)" onmouseout="default_rating(this)"></span>
	<span id='star_3' class='empty_star' data-star-no= 3 onclick="rating(this)" onmouseover= "rating_hover(this)" onmouseout="default_rating(this)"></span>
	<span id='star_4' class='empty_star' data-star-no= 4 onclick="rating(this)" onmouseover= "rating_hover(this)" onmouseout="default_rating(this)"></span>
	<span id='star_5' class='empty_star' data-star-no= 5 onclick="rating(this)" onmouseover= "rating_hover(this)" onmouseout="default_rating(this)"></span>
</div>
